@font-face {
    font-family: 'InterVariable';
    src: url('/fonts/Inter/InterVariable.woff2') format('woff2');
    font-weight: 400 800;
    font-style: normal;
    font-display: swap;
    src: url("InterVariable.woff2") format("woff2");
}

@font-face {
    font-family: 'InterVariable-Italic';
    src: url('/fonts/Inter/InterVariable-Italic.woff2') format('woff2');
    font-style: italic;
    font-weight: 400 800;
    font-display: swap;
    src: url("InterVariable-Italic.woff2") format("woff2");
  }

@font-face {
    font-family: 'Literata';
    src: url('/fonts/Literata/Literata-Light.woff2') format('woff2');
    font-weight: light;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Literata';
    src: url('/fonts/Literata/Literata-LightItalic.woff2') format('woff2');
    font-weight: light;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Literata';
    src: url('/fonts/Literata/Literata-SemiBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Literata';
    src: url('/fonts/Literata/Literata-SemiBoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Monaspace';
    src: url('/fonts/Monaspace/MonaspaceArgon-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Monaspace';
    src: url('/fonts/Monaspace/MonaspaceArgon-SemiBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
